<% include partials/header.ejs %>
<h1>Hi <%= name %></h1>
<form id="interest" action="">
    <select id="selectinterest">
        <option value="default">Default</option>
        <option value="it">IT</option>
        <option value="porno">PORN</option>
    </select>
    <button>Send</button>
</form>
<div class="hidneThis">
    <ul id="messages"></ul>
    <form id="msgform" action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div>
<script src="/js/app.js"></script>
<% include partials/footer.ejs %>